
*.Cache
*.cache
/packages
/JonDJones.Website/bin
/JonDJones.Website/obj
/JonDJones.Website/App_Data
/JonDJones.Website.Core/obj
/JonDJones.Website.Core/bin
/JonDJones.Website.Interfaces/obj
/JonDJones.Website.Interfaces/bin
/JonDJones.Website.Core/packages
/JonDJones.Website.suo
/JonDJones.Website.v12.suo
/.vs
/JonDJones.Website.Core/*.user
/JonDJones.Website.Core/.vs
/JonDJones.Website/License.config
/JonDJones.Website.Import/bin
/JonDJones.Website.Import/obj
/JonDJones.Website.Import/JonDJones.Website.Import.csproj.user
/JonDJones.Website.Import/bin/Debug
/JonDJones.Website.Import/obj/Debug
/JonDJones.Website/StyleCop.Cache
/JonDJones.Website.Shared/bin/Debug
/JonDJones.Website.Shared/obj/Debug
/JonDJones.Website.Core.UnitTests/bin
/JonDJones.Website.Core.UnitTests/obj
/JonDJones.Website.Core.UnitTests/*.Cache
/JonDJones.Website.TestShared/bin
/JonDJones.Website.TestShared/obj
/JonDJones.Website.UnitTests/obj
/JonDJones.Website.UnitTests/bin
/JonDJones.Website.TestShared/*.Cache
/JonDJones.Website.UnitTests/StyleCop.Cache
/JonDJones.Website.Core/StyleCop.Cache
/JonDJones.Website.Import/StyleCop.Cache
/JonDJones.Website.Core.UnitTests/JonDJones.Website.Core.UnitTests.csproj.user
/JonDJones.Website.TestShared/JonDJones.Website.TestShared.csproj.user
/JonDJones.Website.sln.DotSettings.user
/JonDJones.Website/JonDJones.Website.csproj.user
/JonDJones.Website.UnitTests/JonDJones.Website.UnitTests.csproj.user
/DatabaseSetup/bin
/DatabaseSetup/obj
/DatabaseSetup/DatabaseSetup.csproj.user
/JonDJones.Website.Shared/obj
/JonDJones.Website.Shared/bin