<?xml version="1.0" encoding="utf-8"?>

<module>
  <assemblies>
    <!-- The assembly containing the rest store needs to be added. -->
    <add assembly="JonDJones.Website.Core" />
  </assemblies>
  <dojo>
    <paths>
      <add name="jondjones" path="ClientResources/Scripts" />
    </paths>
  </dojo>
  <dojoModules>
    <add name="jondjones" path="Scripts" />
  </dojoModules>
  <clientModule>
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>
  <clientResources>
  </clientResources>
</module>
