@model JonDJones.Website.Core.ViewModel.Blocks.RichTextBlockViewModel
<div class="component-compact">
    <div class="component">
        <div class="@Model.GetBootstrapClass()">
            @Html.PropertyFor(m => m.CurrentBlock.Text)
        </div>
    </div>
</div>