@model JonDJones.Website.Core.ViewModel.Blocks.RichTextBlockViewModel
<div class="component-compact">
    <div class="component component-ID_2_8_tsc_rich_text component-ID_2_8_tsc_rich_text-col12">
        <div class="@Model.GetBootstrapClass()">
            @Html.PropertyFor(m => m.CurrentBlock.Text)
        </div>
    </div>
</div>