<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" productName="Mogul SEO Manager" description="SEO Manager for EPiServer CMS manages your URLs and optimizes Google ranking. A higher position in search results will generate more visitors and increased visibility, for your content and your brand." tags=" EPiServerModulePackage ThirdPartyAddOn Mogul SEO SEOManager Sitemap " version="3.1.1.0">
  <assemblies>
    <add assembly="Mogul.SeoManager.Commerce" />
    <add assembly="Mogul.SeoManager" />
  </assemblies>
</module>