<appSettings>
  <!--  Site Settings -->
  <add key="RunFixtures" value="true" />
  <add key="InDevelopmentMode" value="true" />
  <!--  Redis -->
  <add key="RedisHost" value="127.0.0.1" />
  <add key="RedisPort" value="6379" />
  <add key="RedisPassword" value="" />
  <add key="RedisUseSSL" value="false" />
  <add key="RedisEnableLogging" value="false" />
  <!-- Epi & .NET  -->
  <add key="Epi.WebSockets.Enabled" value="false" />
  <add key="owin:appStartup" value="JonDJones.Website.Core.MVC.Startup" />
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- Caching -->
  <add key="episerver:CdnExpirationTime" value="7.0:0:0" />
</appSettings>