<rules>
  <rule name="RemoveTrailingSlashRule" stopProcessing="true">
    <match url="(.*)/$" />
    <conditions>
      <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
      <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
      <add input="{URL}" pattern="^/episerver" negate="true" />
      <add input="{URL}" pattern="^/util" negate="true" />
    </conditions>
    <action type="Redirect" redirectType="Permanent" url="{R:1}" />
  </rule>
  <!--<rule name="Add WWW" stopProcessing="true">
    <match url="^(.*)$" />
    <conditions>
      <add input="{HTTP_HOST}" pattern="^(?!www\.)(.*)$" />
    </conditions>
    <action type="Redirect" url="http://www.{C:0}{PATH_INFO}" redirectType="Permanent" />
  </rule>-->
  <!--<rule name="AddTrailingSlashRule" stopProcessing="true">
    <match url="(.*[^/])$" />
    <conditions trackAllCaptures="false">
      <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
      <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
      <add input="{URL}" pattern="/util/" negate="true" />
      <add input="{URL}" pattern="/App_Themes/" negate="true" />
      <add input="{URL}" pattern="/globalassets/" negate="true" />
      -->
  <!--<add input="{URL}" pattern="/bundles/" negate="true" />
      <add input="{URL}" pattern="/cm/UI/" negate="true" />      
      <add input="{URL}" pattern="/SearchAction" negate="true" />
      <add input="{URL}" pattern="/Index" negate="true" /> -->
  <!--      
    </conditions>
    <action type="Redirect" url="{R:1}/" />
  </rule>-->
</rules>
