<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
  </appSettings>

  <connectionStrings configSource="connectionStringsLive.config" xdt:Transform="Replace" />
  
  <system.web>
    <customErrors mode="On"  defaultRedirect="/404-page/" xdt:Transform="Replace" />
    <caching>
      <outputCache enableOutputCache="true" xdt:Transform="Replace" />
    </caching>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
   </system.web>
</configuration>
