@model JonDJones.Website.Core.ViewModel.Blocks.VideoBlockViewModel

<div class="@Model.GetBootstrapClass()">
    <div class="component component-ID_2_21_tsc_video">
        <div class="embed-responsive embed-responsive-16by9 my-3">
            <iframe width="1280" height="720" src="@Model.CurrentBlock.VideoUrl?rel=@Model.ShowRelatedVideos&amp;autoplay=@Model.AutoPlay" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
